<%- include("partials/header"); -%>
    <div class="px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">About</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4"  id="aboutContent">Hello, my name is Weiqian Ni, and this is my personal blog website. I will update my thoughts and any interest things I have seen on this site from time to time. Hopefully in the future this blog will be full of content. If you are interested and want to know more about me, please do not hesitate to send me an email :)</p>
        <div>
            <a href="mailto:weiqianni29@gmail.com"><i class="fa-solid fa-envelope icns"></i></a>
            <a href="https://www.linkedin.com/in/weiqian-ni-618903234/"><i class="fa-brands fa-linkedin icns"></i></a>
            <a href="https://github.com/Weiqian-Ni-29"><i class="fa-brands fa-github icns"></i></a>
        </div>
      </div>
    </div>
<%- include("partials/footer"); -%>
